{:paths ["src" "resources"]
 :deps {org.lwjgl/lwjgl {:mvn/version "3.2.2"}
        org.lwjgl/lwjgl$natives-linux {:mvn/version "3.2.2"}
        org.lwjgl/lwjgl$natives-macos {:mvn/version "3.2.2"}
        org.lwjgl/lwjgl$natives-windows {:mvn/version "3.2.2"}}
 :aliases {:prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}}}
